# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: build and push an image to container registry
      inputs:
        command: buildAndPush
        dockerfile: '$(Build.SourcesDirectory)/dockerfile'
        repository: thbst16/blazor-crud
        containerRegistry: dockerhub-connection
        tags: |
          $(Build.BuildId)
          latest