@page "/dashboard"
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.ChartJS.BarChart.Axes
@using ChartJs.Blazor.ChartJS.Common.Axes
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.ChartJS.Common.Wrappers
@using ChartJs.Blazor.ChartJS.PieChart
@using ChartJs.Blazor.Util
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<div class="row">
    <div class="col-md-4">
        <BSCard CardType="CardType.Card">
            <BSCard Color="Color.Light" IsOutline="true">
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Patients By State</BSCard>
                    <ChartJsPieChart @ref="_doughnutChartJsPatient" Config="@_doughnutChartConfigPatient" />
                    <a href="patient/list/1" class="btn btn-primary">View details &raquo;</a>
                </BSCard>
            </BSCard>
        </BSCard>
    </div>
    <div class="col-md-4">
        <BSCard CardType="CardType.Card">
            <BSCard Color="Color.Light" IsOutline="true">
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Organizations by Type</BSCard>
                    <ChartJsPieChart @ref="_doughnutChartJsOrganization" Config="@_doughnutChartConfigOrganization" />
                    <a href="organization/list/1" class="btn btn-primary">View details &raquo;</a>
                </BSCard>
            </BSCard>
        </BSCard>
    </div>
    <div class="col-md-4">
        <BSCard CardType="CardType.Card">
            <BSCard Color="Color.Light" IsOutline="true">
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Claims by Type</BSCard>
                    <ChartJsPieChart @ref="_doughnutChartJsClaim" Config="@_doughnutChartConfigClaim" />
                    <a href="claim/list/1" class="btn btn-primary">View details &raquo;</a>
                </BSCard>
            </BSCard>
        </BSCard>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <BSCard CardType="CardType.Card">
            <BSCard Color="Color.Light" IsOutline="true">
                <BSCard CardType="CardType.Body">
                    <BSCard CardType="CardType.Title">Recently Created or Modified Patients, Organizations, and Claims</BSCard>
                    <ChartJsBarChart @ref="_barChartJs" Config="@_barChartConfig" Width="600" Height="200" />
                </BSCard>
            </BSCard>
        </BSCard>
    </div>
</div>
<br>

@code {
    private PieConfig _doughnutChartConfigPatient;
    private ChartJsPieChart _doughnutChartJsPatient;
    private PieConfig _doughnutChartConfigOrganization;
    private ChartJsPieChart _doughnutChartJsOrganization;
    private PieConfig _doughnutChartConfigClaim;
    private ChartJsPieChart _doughnutChartJsClaim;
    private BarConfig _barChartConfig;
    private ChartJsBarChart _barChartJs;
    private PieDataset _patientDataset;
    private PieDataset _organizationDataset;
    private PieDataset _claimsDataset;
    private BarDataset<DoubleWrapper> _barSet1;
    private BarDataset<DoubleWrapper> _barSet2;
    private BarDataset<DoubleWrapper> _barSet3;

    protected BlazorCrud.Shared.Models.Dashboard dashboard = new BlazorCrud.Shared.Models.Dashboard();

    protected override async Task OnParametersSetAsync()
    {
        dashboard = await Http.GetJsonAsync<BlazorCrud.Shared.Models.Dashboard>(Storage.GetItem("environment_uri") + "/dashboard/");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        _doughnutChartConfigPatient.Data.Labels.AddRange(dashboard.PatientsByState.Keys);
        _doughnutChartConfigOrganization.Data.Labels.AddRange(dashboard.OrganizationsByType.Keys);
        _doughnutChartConfigClaim.Data.Labels.AddRange(dashboard.ClaimsByType.Keys);
        _barChartConfig.Data.Labels.AddRange(dashboard.UpdatedEntitiesByDate.Keys);

        _patientDataset.Data.AddRange(dashboard.PatientsByState.Values);
        _organizationDataset.Data.AddRange(dashboard.OrganizationsByType.Values);
        _claimsDataset.Data.AddRange(dashboard.ClaimsByType.Values);

        // Need a way to get the data out of the structure to prepare for biding
        
        _barSet1.AddRange(new double[] { 7, 5, 2, 9 }.Wrap());
        _barSet2.AddRange(new double[] { 1, 3, 1, 2 }.Wrap());
        _barSet3.AddRange(new double[] { 15, 44, 21, 17 }.Wrap());
    }

    protected override void OnInitialized()
    {
        _doughnutChartConfigPatient = new PieConfig
        {
            Options = new PieOptions(true)
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Patients by State"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                }
            }
        };

        _doughnutChartConfigOrganization = new PieConfig
        {
            Options = new PieOptions(true)
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Organizations by Type"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                }
            }
        };

        _doughnutChartConfigClaim = new PieConfig
        {
            Options = new PieOptions(true)
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Claims by Type"
                },
                Responsive = true,
                Animation = new ArcAnimation
                {
                    AnimateRotate = true,
                    AnimateScale = true
                }
            }
        };

        _barChartConfig = new BarConfig
        {
            Options = new BarOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Patients, Organizations, and Claims Counts by Day"
                },
                Scales = new BarScales
                {
                    XAxes = new List<CartesianAxis> {
                        new BarCategoryAxis {
                            BarThickness = BarThickness.Flex,
                            Stacked = false
                        }
                    }
                },
                Responsive = true,
            }
        };

        _patientDataset = new PieDataset
        {
            BackgroundColor = new[] { "#1C4E80", "#A5D8DD", "#EA6A47", "#0091D5" },
            BorderWidth = 0,
            HoverBackgroundColor = "#7E909A",
            HoverBorderColor = "#202020",
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        _organizationDataset = new PieDataset
        {
            BackgroundColor = new[] { "#1C4E80", "#A5D8DD", "#EA6A47", "#0091D5", "#7E909A" },
            BorderWidth = 0,
            HoverBackgroundColor = "#7E909A",
            HoverBorderColor = "#202020",
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        _claimsDataset = new PieDataset
        {
            BackgroundColor = new[] { "#1C4E80", "#A5D8DD", "#EA6A47", "#0091D5", "#7E909A" },
            BorderWidth = 0,
            HoverBackgroundColor = "#7E909A",
            HoverBorderColor = "#202020",
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        _barSet1 = new BarDataset<DoubleWrapper>
        {
            Label = "Patients",
            BackgroundColor = "#0091D5",
            BorderWidth = 1,
            HoverBackgroundColor = ColorUtil.ColorString(0, 0, 0, 0.1),
            HoverBorderColor = "#202020",
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        _barSet2 = new BarDataset<DoubleWrapper>
        {
            Label = "Organizations",
            BackgroundColor = "#A5D8DD",
            BorderWidth = 1,
            HoverBackgroundColor = ColorUtil.ColorString(0, 0, 0, 0.1),
            HoverBorderColor = "#202020",
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        _barSet3 = new BarDataset<DoubleWrapper>
        {
            Label = "Claims",
            BackgroundColor = "#EA6A47",
            BorderWidth = 1,
            HoverBackgroundColor = ColorUtil.ColorString(0, 0, 0, 0.1),
            HoverBorderColor = "#202020",
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        _doughnutChartConfigPatient.Data.Datasets.Add(_patientDataset);
        _doughnutChartConfigOrganization.Data.Datasets.Add(_organizationDataset);
        _doughnutChartConfigClaim.Data.Datasets.Add(_claimsDataset);
        _barChartConfig.Data.Datasets.Add(_barSet1);
        _barChartConfig.Data.Datasets.Add(_barSet2);
        _barChartConfig.Data.Datasets.Add(_barSet3);
    }
}
