@page "/"

<div class="jumbotron">
    <h1 class="display-4">Blazor CRUD</h1>
    <p class="lead">A complete project framework that has everything you need to build your Blazor WASM enterprise application.</p>
    <hr class="my-4">
    <ul style="line-height:1.8;">
        <li><b>Complex Data Entry</b> - Ability to support complex data entry on entities with child objects and validate both parent and child objects.</li>
        <li><b>Data Tables</b> - Paginated data tables with search within the tables.</li>
        <li><b>File Upload</b> - File upload / download and automated processing via CRON batch jobs.</li>
        <li><b>Authentication</b> - JWT-based user authentication with page and service level access constraints. Try user ID and password of admin / admin to login.</li>
        <li><b>API</b> - A full rest API with Swagger documentation.</li>
    </ul>
</div>