@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 5.0rem;
}

/* Index Carousel Text Color */
.carousel-text {
    color: black;
}

/* Sticky footer styles------ */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* Spinner Style*/
.grid {
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
    left: 48%;
    right: 48%;
    top: 20%;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 130px;
    height: 130px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Pagination Style */
.pagination .btn {
    background-color: darkgray;
}

.pagination span.btn {
    background-color: #000;
    color: #fff;
}

.pagination li {
    padding: 5px;
}

/* Signin page styles
-------------------------------------------------- */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 100px;
}

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

/* Blazor Error Bar */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Error Messages */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* 404 Style */
#notfound {
    position: relative;
    height: 60vh;
}

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 40%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    padding: 0px 15px;
}

    .notfound .notfound-404 {
        position: relative;
        height: 150px;
        line-height: 150px;
        margin-bottom: 45px;
    }

        .notfound .notfound-404 h1 {
            font-family: 'Titillium Web', sans-serif;
            font-size: 186px;
            font-weight: 900;
            margin: 0px;
            text-transform: uppercase;
            background: url('../img/text.png');
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: cover;
            background-position: center;
        }

    .notfound h2 {
        font-family: 'Titillium Web', sans-serif;
        font-size: 26px;
        font-weight: 700;
        margin: 0;
    }

    .notfound p {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0px;
        text-transform: uppercase;
    }

    .notfound a {
        font-family: 'Titillium Web', sans-serif;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        border: none;
        background: #5c91fe;
        padding: 10px 40px;
        font-size: 14px;
        font-weight: 700;
        border-radius: 1px;
        margin-top: 15px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .notfound a:hover {
            opacity: 0.8;
        }
