/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 5.0rem;
}

.grid {
    width: 60vw;
    height: 60vh;
    align-items: center;
    position: absolute;
    left: 40%;
    top: 15%;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 130px;
    height: 130px;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}