@inherits BlazorLayoutComponent
@inject LocalStorage Storage

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Blazor CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="patient/list/1">Patients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="organization/list/1">Organizations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Claims</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Attachments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Users</a>
            </li>
            @if (isLoggedOn())
            {
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Logout</a>
                </li>
            }
            else
            {
                <li>
                    <a class="nav-link" href="/user/login">Logon</a>
                </li>
            }
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>
    </div>
</nav>

<div class="content px-4">
    @Body
</div>

<footer class="container">
    <p>&copy; Beckshome.com 2018</p>
</footer>

@functions {
    protected bool isLoggedOn()
    {
        return Storage["JWT-Token"] != String.Empty;
    }
}