@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<ToastContainer />

<div>
    <NavMenu />
</div>

<div class="container">
    @Body
</div>

<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">&copy; Beckshome.com 2021</span>
    </div>
</footer>

@code {
    protected override void OnInitialized()
    {
        localStorage.SetItem("environment_uri", String.Empty);
        localStorage.SetItem("environment_uri", UriHelper.BaseUri + "api");
    }
}
