@addTagHelper *, BlazorStrap
@inherits BlazorLayoutComponent
@inject LocalStorage Storage

<Navbar IsExpand="true" IsDark="true" Color="Color.Dark" IsFixedTop="true">
    <NavbarBrand Href="#">Blazor CRUD</NavbarBrand>
    <NavbarToggler onclick="@onclick" />
    <Collapse IsOpen="@IsOpen" IsNavbar="true">
        <BlazorNav IsList="true" Class="mr-auto" IsNavbar="true">
            <NavItem>
                <BlazorNavLink href="#">Home</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="patient/list/1">Patients</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink href="organization/list/1">Organizations</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink IsDisabled="true" href="#">Claims</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink IsDisabled="true" href="#">Attachments</BlazorNavLink>
            </NavItem>
            <NavItem>
                <BlazorNavLink IsDisabled="true" href="#">Users</BlazorNavLink>
            </NavItem>
            @if (isLoggedOn())
            {
                <NavItem>
                    <BlazorNavLink href="/user/logout">Logout</BlazorNavLink>
                </NavItem>
            }
            else
            {
                <NavItem>
                    <BlazorNavLink href="/user/login">Login</BlazorNavLink>
                </NavItem>
            }
        </BlazorNav>
        <BlazorForm IsInline="true" Class="my-2 my-lg-0">
            <BlazorInput InputType="InputType.Search" PlaceHolder="Search" Class="mr-sm-2" />
            <BlazorButton IsOutline="true" Color="Color.Success" ButtonType="ButtonType.Submit" Class="my-2 my-sm-0">Search</BlazorButton>
        </BlazorForm>
    </Collapse>
</Navbar>

<div class="content px-4">
    @Body
</div>

<footer class="container">
    <p>&copy; Beckshome.com 2018</p>
</footer>

@functions {
// Handle Navbar events

bool IsOpen { get; set; } = false;

void onclick(UIMouseEventArgs e)
{
    IsOpen = !IsOpen;
    StateHasChanged();
}

protected bool isLoggedOn()
{
    return Storage["JWT-Token"] != String.Empty;
}
}