@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<BSNavbar IsExpand="true" IsDark="true" Color="Color.Dark" IsFixedTop="true">
    <BSNavbarBrand Href="#">Blazor CRUD</BSNavbarBrand>
    <BSNavbarToggler @onclick="onclick" />
    <BSCollapse IsOpen="@IsOpen" IsNavbar="true" IsOpenChanged="OpenChanged">
        <BSNav IsList="true" Class="mr-auto" IsNavbar="true">
            <BSNavItem>
                <BSNavLink href="/">Home</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="/dashboard">Dashboard</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="patient/list/1">Patients</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="organization/list/1">Organizations</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="claim/list/1">Claims</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="upload/list/1">Uploads</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink href="user/list/1">Users</BSNavLink>
            </BSNavItem>
        </BSNav>
        <BSNav IsList="true" Alignment="Alignment.Right" IsNavbar="true">
            @if (isLoggedOn())
            {
                <BSNavItem>
                    <BSNavLink href="/user/logout">
                        Logout
                        <span class="oi oi-lock-unlocked" title="lock unlocked" aria-hidden="true"></span>
                    </BSNavLink>
                </BSNavItem>
            }
            else
            {
                <BSNavItem>
                    <BSNavLink href="/user/login">
                        Login
                        <span class="oi oi-lock-locked" title="lock locked" aria-hidden="true"></span>
                    </BSNavLink>
                </BSNavItem>
            }
        </BSNav>
    </BSCollapse>
</BSNavbar>

@code {
    private bool IsOpen { get; set; } = true;
    void onclick (MouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }

    void OpenChanged(bool e)
    {
        IsOpen = e;
        StateHasChanged();
    }

    protected bool isLoggedOn()
    {
        return (localStorage.GetItem<string>("JWT-Token") != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(localStorage.GetItem<string>("JWT-Time-Expire")));
    }
}
