@page "/organization/delete/{Id}"
@inject HttpClient Http
@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

<h1>Delete</h1>
<h3>Are you sure you want to delete the organization with id : @Id</h3>

<br />
<div class="col-md-6">
    <BSTable IsResponsive="true" class="table">
        <tr>
            <td>Name</td>
            <td>@organization.Name</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>@organization.Type</td>
        </tr>
        <tr>
            <td>Active</td>
            <td>@organization.IsActive</td>
        </tr>
    </BSTable>
    <div class="form-group">
        <button type="button" class="btn btn-danger" @onclick="(async () => await RemoveOrganization())">Delete</button>
        <button class="btn btn-primary" @onclick="cancel">Cancel</button>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    Organization organization = new Organization();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (!(Storage.GetItem("JWT-Token") != String.Empty && DateTime.Now.Ticks < Convert.ToInt64(Storage.GetItem("JWT-Time-Expire")))) // not logged on
        {
            UriHelper.NavigateTo("/user/login");
        }

        organization = await Http.GetJsonAsync<Organization>(Storage.GetItem("environment_uri") + "/organization/" + Convert.ToInt32(Id));
    }

    protected async Task RemoveOrganization()
    {
        var token = Storage.GetItem("JWT-Token");
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        await Http.DeleteAsync(Storage.GetItem("environment_uri") + "/organization/" + Convert.ToInt32(Id));
        Storage.SetItem("Transaction", "modified");
        UriHelper.NavigateTo("/organization/list/1");
    }
    void cancel()
    {
        Storage.SetItem("Transaction", "cancelled");
        UriHelper.NavigateTo("/organization/list/1");
    }
}
